body {
  background:rgba(53, 2, 2, 0.726); 
  opacity: 10;
}
H1 { 
  font-size: 120%; 
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  color: #333366; 
  text-align: center;
}
.form-group {
  width: 100%;
  padding-top: 1.5rem;
  text-align:center;
}
.form-group input[type=text] {
  width: 200px;
}
.button {
  position: relative;
  top: 30px;
  height:200px;
  text-align: center;
}